html {
  font-size: 100%; }

body {
  min-width: 320px;
  height: auto;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  background-color: #fff;
  color: #222;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: normal; }

.home-page {
  background-image: url("../img/bg_top.jpg");
  min-height: 100vh;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: top center;
  overflow: hidden; }

#navbar-home {
  margin-top: 2rem;
  position: static; }

.home-main-content {
  padding: 10% 0 6%; }
  .home-main-content h1 {
    font-weight: 300; }

.home-footer {
  position: absolute;
  bottom: 5rem;
  width: 100%; }

.tabs-container .nav-tabs {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5rem; }

.tabs-container .nav-tabs > li {
  margin-right: 2rem;
  margin-bottom: -1px; }

.tabs-container .nav-tabs > li > a {
  border: none;
  padding: 0 0 5px 0;
  margin-right: 0;
  background-color: none;
  font-size: 1.125rem; }

.tabs-container .nav-tabs > li > a:hover, .tabs-container .nav-tabs > li > a:focus {
  background-color: none; }

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus {
  border: none;
  color: red;
  background-color: none;
  border-bottom: 1px solid red; }

.gallery-albums {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd; }
  .gallery-albums:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }
  .gallery-albums__date {
    margin-bottom: 1rem;
    color: #777; }
  .gallery-albums__row {
    margin-left: -5px;
    margin-right: -5px; }
  .gallery-albums__col {
    padding: 5px;
    margin-bottom: 0;
    height: 130px;
    overflow: hidden; }
  .gallery-albums__img-wrap {
    overflow: hidden;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); }
  .gallery-albums__img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: middle; }
  .gallery-albums__img-all-link {
    display: block;
    background-color: #eee;
    height: 100%; }
  .gallery-albums__img-all-content {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.gallery__row {
  margin-left: -5px;
  margin-right: -5px; }

.gallery__col {
  padding: 5px;
  margin-bottom: 0;
  height: 175px;
  overflow: hidden; }

.gallery__item {
  display: block;
  border: none;
  overflow: hidden;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1); }

.gallery__img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle; }

.sl-overlay {
  opacity: .97; }

.home-list {
  list-style-type: none;
  margin: 2rem 0; }

.btn-wrap button {
  padding: 10px 25px; }

.navbar-main {
  position: fixed;
  width: 100%;
  border: none;
  z-index: 999;
  height: 50px; }
  .navbar-main .navbar-collapse {
    padding-left: 0;
    padding-right: 0; }

.main-content {
  padding-top: 130px;
  margin-bottom: 5rem; }

.page-main-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  margin-top: 0; }

.shedule__row {
  margin-bottom: 3rem; }
  .shedule__row-title {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    margin-bottom: 2rem; }

.shedule__table {
  font-size: 1.125rem; }
  .shedule__table .table td:first-child {
    width: 135px;
    padding-right: 15px; }
  .shedule__table .table tr {
    position: relative; }
    .shedule__table .table tr:hover {
      color: red; }
  .shedule__table .table > thead > tr > th, .shedule__table .table > tbody > tr > th, .shedule__table .table > tfoot > tr > th, .shedule__table .table > thead > tr > td, .shedule__table .table > tbody > tr > td, .shedule__table .table > tfoot > tr > td {
    padding: 10px 0; }

.main-foot {
  background-color: #2e343f;
  padding: 1rem 0 2rem 0;
  color: #ddd; }
  .main-foot a {
    color: #ddd; }
    .main-foot a:hover {
      text-decoration: underline;
      color: #fff; }

.footer-content__list {
  padding-left: 0;
  list-style-type: none; }
