html {
  font-size: 100%; }

body {
  min-width: 320px;
  height: auto;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  background-color: #fff;
  color: #222;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: normal; }

a {
  outline: none !important; }
  a:hover {
    color: #dd2c00; }

.page-main-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  margin-top: 0; }

#wrap {
  margin-bottom: 5rem; }

#div_nav_panel {
  padding: 0; }
  #div_nav_panel ul#nav_panel {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none; }
    #div_nav_panel ul#nav_panel li {
      display: inline-block; }
      #div_nav_panel ul#nav_panel li .btn {
        display: block;
        border: none;
        padding: 0;
        margin: 3px;
        cursor: pointer;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        background-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        font-size: 1.25rem;
        background-image: none;
        padding: 5px 10px; }
        #div_nav_panel ul#nav_panel li .btn:hover {
          color: #dd2c00; }
        #div_nav_panel ul#nav_panel li .btn.active {
          cursor: default;
          color: #dd2c00; }
        #div_nav_panel ul#nav_panel li .btn.disabled, #div_nav_panel ul#nav_panel li .btn[disabled] {
          cursor: default;
          background-color: transparent; }
          #div_nav_panel ul#nav_panel li .btn.disabled:hover, #div_nav_panel ul#nav_panel li .btn[disabled]:hover {
            color: #222; }

.tabs-container .nav-tabs {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5rem; }

.tabs-container .nav-tabs > li {
  margin-right: 2rem;
  margin-bottom: -1px; }

.tabs-container .nav-tabs > li > a {
  border: none;
  padding: 0 0 5px 0;
  margin-right: 0;
  background-color: none;
  font-size: 1.125rem; }

.tabs-container .nav-tabs > li > a:hover, .tabs-container .nav-tabs > li > a:focus {
  background-color: none; }

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus {
  border: none;
  color: #dd2c00;
  background-color: none;
  border-bottom: 1px solid #dd2c00; }

.sidebar-menu__list {
  list-style-type: none; }

.sidebar-menu__item {
  border-bottom: 1px solid #ddd; }
  .sidebar-menu__item:last-child {
    border-bottom: none; }
  .sidebar-menu__item--active .sidebar-menu__link {
    border-left-color: #337ab7;
    font-weight: bold;
    background-color: #eee; }
    .sidebar-menu__item--active .sidebar-menu__link:hover {
      color: #222; }

.sidebar-menu__link {
  border-left: 2px solid transparent;
  padding: 10px 12px;
  display: block;
  color: #222; }
  .sidebar-menu__link:hover {
    text-decoration: none;
    color: #337ab7; }

.main-footer {
  background-color: #2e343f;
  padding: 1rem 0 2rem 0;
  color: #ddd; }
  .main-footer a {
    color: #ddd; }
    .main-footer a:hover {
      text-decoration: underline;
      color: #fff; }

.footer-content__list {
  padding-left: 0;
  list-style-type: none; }
  .footer-content__list li {
    margin-bottom: 2px; }

.home-page {
  background-image: url("../img/bg_top.jpg");
  min-height: 100vh;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: top center;
  overflow: hidden; }

.logo {
  width: 260px; }

#navbar-home {
  margin-top: 2rem;
  position: static; }
  #navbar-home .nav > li > a {
    color: #337ab7; }
  #navbar-home .nav > li > a:hover, #navbar-home .nav > li > a:focus {
    background-color: transparent;
    color: #dd2c00; }
  #navbar-home .navbar-toggle .icon-bar {
    background-color: #222; }

.home-main-content {
  padding: 10% 0; }
  .home-main-content h1 {
    font-weight: 300; }

.home-footer a {
  color: #337ab7; }
  .home-footer a:hover {
    color: #dd2c00; }

.home-footer .home-soc-links {
  list-style-type: none; }
  .home-footer .home-soc-links li {
    float: left;
    margin-right: 2rem; }
    .home-footer .home-soc-links li .fa {
      font-size: 1.75rem; }

.home-conf-info {
  margin: 2rem 0; }

.btn-wrap button {
  padding: 10px 25px; }

.foot-home-conf {
  margin-bottom: 10px; }

.main-head {
  padding-top: 120px; }

.navbar-main {
  position: fixed;
  width: 100%;
  border: none;
  z-index: 999;
  height: 50px; }

#navbar-inner {
  background-image: none;
  background-color: #2e343f;
  -webkit-border-radius: 0;
          border-radius: 0;
  height: auto;
  line-height: auto;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  #navbar-inner .navbar-nav > li > a {
    text-shadow: none;
    color: #ddd; }
  #navbar-inner .navbar-nav > li > a:hover, #navbar-inner .navbar-nav > li > a:focus {
    color: #fff; }
  #navbar-inner .navbar-nav > .open > a, #navbar-inner .navbar-nav > .active > a {
    background-image: none;
    background-color: #4e586b;
    color: #fff; }

.page-list-news__item {
  display: block;
  margin-bottom: 2rem; }

.page-list-news__link {
  display: block;
  color: #222;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5rem;
  -webkit-transition: border-bottom-color .3s ease-out;
  -o-transition: border-bottom-color .3s ease-out;
  transition: border-bottom-color .3s ease-out; }
  .page-list-news__link:hover, .page-list-news__link:focus {
    color: #222;
    text-decoration: none;
    border-bottom-color: #dd2c00; }

.page-list-news__content-img {
  width: 100%;
  height: auto;
  padding: 30%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: top center; }

.page-list-news__content-title {
  font-weight: 700; }

.page-list-news__content-date {
  display: block;
  color: #555;
  margin-bottom: 1rem; }

.page-news__content {
  margin-bottom: 3rem; }

.page-news__date {
  display: block;
  margin-bottom: 1.5rem;
  color: #777; }

.gallery-albums {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd; }
  .gallery-albums:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }
  .gallery-albums__date {
    margin-bottom: 1rem;
    color: #777; }
  .gallery-albums__row {
    margin-left: -5px;
    margin-right: -5px; }
  .gallery-albums__col {
    padding: 5px;
    margin-bottom: 0;
    height: 175px;
    overflow: hidden; }
  .gallery-albums__img-wrap {
    overflow: hidden;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); }
  .gallery-albums__img {
    width: 100%;
    height: 100%;
    padding: 30%;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: top center; }
  .gallery-albums__img-all-link {
    display: block;
    background-color: #eee;
    height: 100%; }
  .gallery-albums__img-all-content {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.gallery__row {
  margin-left: -5px;
  margin-right: -5px; }

.gallery__col {
  padding: 5px;
  margin-bottom: 0;
  height: 175px;
  overflow: hidden; }

.gallery__item {
  display: block;
  border: none;
  overflow: hidden;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1); }

.gallery__img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle; }

.sl-overlay {
  opacity: .97; }

.shedule__row {
  margin-bottom: 3rem; }
  .shedule__row-title {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    margin-bottom: 2rem; }

.shedule__table {
  font-size: 1.125rem; }
  .shedule__table .table td:first-child {
    width: 135px;
    padding-right: 15px; }
  .shedule__table .table tr {
    position: relative; }
    .shedule__table .table tr:hover {
      color: #dd2c00; }
  .shedule__table .table > thead > tr > th, .shedule__table .table > tbody > tr > th, .shedule__table .table > tfoot > tr > th, .shedule__table .table > thead > tr > td, .shedule__table .table > tbody > tr > td, .shedule__table .table > tfoot > tr > td {
    padding: 10px 0; }

.person-page__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.person-page__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.person-page__item {
  background-color: #eee;
  margin-bottom: 2rem;
  -webkit-transition: -webkit-box-shadow .1s ease-out;
  transition: -webkit-box-shadow .1s ease-out;
  -o-transition: box-shadow .1s ease-out;
  transition: box-shadow .1s ease-out;
  transition: box-shadow .1s ease-out, -webkit-box-shadow .1s ease-out; }
  .person-page__item:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.person-page__photo-wrap {
  position: relative;
  padding: 0 0 100%;
  overflow: hidden; }

.person-page__photo {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover; }

.person-page__info {
  padding: 1.5rem 1rem; }
  .person-page__info-name {
    font-weight: 700;
    margin-bottom: 1rem; }
